@inject BriefingRoom4DCS.BriefingRoom briefingRoom
@typeparam EnumType
<div class="form-group inputEnum @ClassString">
    <label>@Label</label>
    <InputSelect class="form-control" Value="Value" ValueExpression="@(()=>Value)"
        ValueChanged="@((EnumType s) => ValueChangedChild(s))">
        @foreach (var value in Enum.GetValues(typeof(EnumType)))
        {
            <option value="@value">@BriefingRoomGUITools.GetEnumName(briefingRoom.LanguageKey, value)</option>
        }
    </InputSelect>
</div>

@code {

    [Parameter]
    public string ClassString { get; set; } = "";

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public EnumType Value { get; set; }

    [Parameter]
    public EventCallback<EnumType> ValueChanged { get; set; }

    private async Task ValueChangedChild(EnumType value)
    {
        await ValueChanged.InvokeAsync(value);
    }
}