<div class="template-box">
    <p>@(string.IsNullOrEmpty(Title) ? "Situation" : @Title)</p>
    <div class="btn-group" role="group">
        <label class="btn btn-primary hidden-input-file">
            <InputFile OnChange="@LoadSituationFile" accept=".ini" />
            <span class="oi oi-data-transfer-upload"></span>
            <span class="template-box-button-text">@BriefingRoom.Translate("LoadINI")</span>
        </label>
        <label class="btn btn-primary hidden-input-file">
            <InputFile OnChange="@LoadSituationFile" accept=".json" />
            <span class="oi oi-data-transfer-upload"></span>
            <span class="template-box-button-text">@BriefingRoom.Translate("LoadJSON")</span>
        </label>
        <button class="btn btn-secondary" aria-hidden="true" @onclick="() => SaveSituation()">
            <span class="oi oi-data-transfer-download"></span>
            <span class="template-box-button-text">@BriefingRoom.Translate("Save")</span>
        </button>
        <button class="btn btn-warning" aria-hidden="true" @onclick="() => ClearSituation()">
            <span class="oi oi-reload"></span>
            <span class="template-box-button-text">@BriefingRoom.Translate("Reset")</span>
        </button>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public Func<InputFileChangeEventArgs, Task> LoadSituationFile { get; set; }
    [Parameter] public Func<Task> SaveSituation { get; set; }
    [Parameter] public Func<Task> ClearSituation { get; set; }
}