@page "/CampaignBuilder"
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using BriefingRoom4DCS
@using BriefingRoom4DCS.Campaign
@using BriefingRoom4DCS.Data
@using BriefingRoom4DCS.Template
@using BriefingRoom4DCS.Generator
@using BriefingRoom4DCS.Mission
@using System.Globalization
@using System.Linq
@using Blazored.Typeahead
@using BriefingRoom4DCS.GUI.Utils
@using System.Text
@using System.IO
<LoadingSpinner ON="spinner"/>
<div class="title-bar">
    <h1>Campaign builder</h1>
    <TemplateButtons LoadTemplate="LoadTemplate" SaveTemplate="SaveTemplate" ClearTemplate="ClearTemplate" AcceptString=".cbrt" />
</div>
<div class="generator-group">
    <div class="generator-form">
        <div>
            @if(!string.IsNullOrEmpty(tempateMessage)){
                <div class="alert alert-info" role="info">
                    @tempateMessage
                </div>
                }
            @if(!string.IsNullOrEmpty(errorMessage)){
            <div class="alert alert-danger" role="alert">
                Error: @errorMessage
            </div>
            }

            <hr>
        </div>
        <EditForm Model="Template" OnSubmit="GenerateCampaign">
            <DataAnnotationsValidator />
            <ValidationSummary />
            
            <button class="btn btn-primary form-control" type="submit">Generate</button>
            <hr>
            <ul class="nav nav-tabs">
                @foreach (var value in tabs)
                {
                    <li class="nav-item">
                        <a class="nav-link @(tab == value ? "active" : "")" aria-current="page"
                        @onclick='() => SetTab(value)'>@textInfo.ToTitleCase(value).Replace("-", " ")</a>
                    </li>
                }
            </ul>
            @switch (tab)
            {
                case "context-&-enviroment":
                    <div id="context" class="generator-block">
                        <h3>Context</h3>
                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                            <div class="form-group flex-block">
                                <label>Blue coalition</label>
                                <BlazoredTypeahead SearchMethod="SearchCoalition" @bind-Value="Template.ContextCoalitionBlue" 
                                EnableDropDown="true" ConvertMethod="Typeahead.ConvertDB" DisableClear="true" MaximumSuggestions="1000">
                                    <SelectedTemplate Context="coalitionId">
                                        @GetCoalitionDisplayName(@coalitionId)
                                    </SelectedTemplate>
                                    <ResultTemplate Context="coalition">
                                        @coalition.Name
                                    </ResultTemplate>
                                </BlazoredTypeahead>
                            </div>
                            <div class="form-group flex-block">
                                    <label>Red coalition</label>
                                <BlazoredTypeahead SearchMethod="SearchCoalition" @bind-Value="Template.ContextCoalitionRed" 
                                EnableDropDown="true" ConvertMethod="Typeahead.ConvertDB" DisableClear="true" MaximumSuggestions="1000">
                                    <SelectedTemplate Context="coalitionId">
                                        @GetCoalitionDisplayName(@coalitionId)
                                    </SelectedTemplate>
                                    <ResultTemplate Context="coalition">
                                        @coalition.Name
                                    </ResultTemplate>
                                </BlazoredTypeahead>
                            </div>
                        </div>
                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                            <InputDataBase ClassString="flex-block" Label="Theater" @bind-Value="Template.ContextTheater" DataBaseType="DatabaseEntryType.Theater"/>
                            <InputDataBase ClassString="flex-block" Label="Situation" @bind-Value="Template.ContextSituation" DataBaseType="DatabaseEntryType.Situation" Grouping="@Template.ContextTheater" EmptOpt="Random"/>
                        </div>
                        <InputDataBase Label="Home airbase" @bind-Value="Template.PlayerStartingAirbase" DataBaseType="DatabaseEntryType.Airbase" Grouping="@Template.ContextTheater" EmptOpt="Random"/>
                        <InputEnum Label="Time period" @bind-Value="Template.ContextDecade" EnumType="Decade"/>
                        <InputEnum Label="Player Side" @bind-Value="Template.ContextPlayerCoalition" EnumType="Coalition"/>
                    </div>
                    <hr />
                    <div id="environment" class="generator-block">
                        <h3>Environment</h3>
                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                            <InputEnum ClassString="flex-block" Label="Bad weather chance" @bind-Value="Template.EnvironmentBadWeatherChance" EnumType="Amount"/>
                            <InputEnum ClassString="flex-block" Label="Night mission chance" @bind-Value="Template.EnvironmentNightMissionChance" EnumType="Amount"/>
                        </div>
                    </div>
                    break;
                case "missions":
                    <div id="missions" class="generator-block">
                        <h3>Missions</h3>
                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                            <div class="form-group flex-block">
                                <label>Mission count (zero means random)</label>
                                <InputNumber class="form-control" @bind-Value="Template.MissionsCount"></InputNumber>
                            </div>
                            <InputEnum ClassString="flex-block" Label="Mission difficulty variation" @bind-Value="Template.MissionsDifficultyVariation" EnumType="CampaignDifficultyVariation"/>
                        </div>
                        <div class="form-group">
                            <label>Mission Features</label>
                            <CheckBoxList
                                Data="BriefingRoom4DCS.BriefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.MissionFeature).ToList()"
                                TextField="@(item =>item.Name)"
                                DescriptionField="@(item => item.Description)"
                                GroupingField="@(item => item.Category)"
                                ValueField="@(item =>item.ID)"
                                SelectedValues="Template.MissionsFeatures"
                                TItem="DatabaseEntryInfo"
                                TItemOutput="string">
                            </CheckBoxList>
                        </div>
                        <div class="form-group">
                            <h4>Objectives</h4>
                            <CheckBoxList
                                Data="BriefingRoom4DCS.BriefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.ObjectivePreset).ToList()"
                                TextField="@(item =>item.Name)"
                                DescriptionField="@(item => item.Description)"
                                ValueField="@(item =>item.ID)"
                                SelectedValues="Template.MissionsObjectives"
                                TItem="DatabaseEntryInfo"
                                TItemOutput="string">
                            </CheckBoxList>
                        </div>
                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                            <InputEnum ClassString="flex-block" Label="Objectives count" @bind-Value="Template.MissionsObjectiveCount" EnumType="Amount"/>
                            <InputEnum ClassString="flex-block" Label="Objectives distance" @bind-Value="Template.MissionsObjectiveDistance" EnumType="Amount"/>
                        </div>
                    </div>
                    break;
                case "options":
                    <div id="options" class="generator-block">
                        <h3>Options</h3>
                        <InputEnum Label="Fog of war" @bind-Value="Template.OptionsFogOfWar" EnumType="FogOfWar"/>
                        <div class="form-group">
                            <h4>Mission options</h4>
                            <CheckBoxList 
                                Data="BriefingRoom4DCS.BriefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.OptionsMission).ToList()"
                                TextField="@(item =>item.Name)"
                                DescriptionField="@(item => item.Description)"
                                ValueField="@(item =>item.ID)"
                                SelectedValues="Template.OptionsMission"
                                TItem="DatabaseEntryInfo"
                                TItemOutput="string">
                            </CheckBoxList>
                        </div>
                        <div class="form-group">
                            <h4>Realism options</h4>
                            <CheckBoxList Data="Enum.GetValues(typeof(RealismOption)).Cast<RealismOption>()"
                        TextField="@((item)=>BriefingRoomGUITools.GetEnumName(item))" ValueField="@((item)=>item)"
                        SelectedValues="Template.OptionsRealism" TItem="RealismOption" TItemOutput="RealismOption">
                            </CheckBoxList>
                        </div>
                        <div class="form-group">
                            <h4>Unit mods</h4>
                            <CheckBoxList
                                Data="BriefingRoom4DCS.BriefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.DCSMod).ToList()"
                                TextField="@(item =>item.Name)"
                                DescriptionField="@(item => item.Description)"
                                ValueField="@(item =>item.ID)"
                                SelectedValues="Template.OptionsMods"
                                TItem="DatabaseEntryInfo"
                                TItemOutput="string">
                            </CheckBoxList>
                        </div>
                    </div>
                    break;
                case "situation":
                     <div id="situation" class="generator-block">
                        <h3>Situation</h3>
                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                            <div class="flex-block">
                           <h4>Enemies</h4>
                                <InputEnum Label="Combat proficiency" @bind-Value="Template.SituationEnemySkill" EnumType="AmountNR"/>
                                <InputEnum Label="Anti-aircraft strength" @bind-Value="Template.SituationEnemyAirDefense" EnumType="AmountNR"/>
                                <InputEnum Label="Combat air patrols" @bind-Value="Template.SituationEnemyAirForce" EnumType="AmountNR"/>
                            </div>
                            <div class="flex-block">
                                <h4>Friendlies</h4>
                                <InputEnum Label="Combat proficiency" @bind-Value="Template.SituationFriendlySkill" EnumType="AmountNR"/>
                                <InputEnum Label="Anti-aircraft strength" @bind-Value="Template.SituationFriendlyAirDefense" EnumType="AmountNR"/>
                                <InputEnum Label="Combat air patrols" @bind-Value="Template.SituationFriendlyAirForce" EnumType="AmountNR"/>
                            </div>
                        </div>
                    </div>
                    break;
                case "combined-arms":
                    <div id="combined-arms" class="generator-block">
                        <h3>Combined Arms</h3>
                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                            <div class="flex-block">
                                <h4>Blue</h4>
                                <label>Commanders</label>
                                <InputNumber class="form-control" @bind-Value="Template.CombinedArmsCommanderBlue"></InputNumber>
                                <label>JTACS</label>
                                <InputNumber class="form-control" @bind-Value="Template.CombinedArmsJTACBlue"></InputNumber>
                            </div>
                            <div class="flex-block">
                                <h4>Red</h4>
                                <label>Commanders</label>
                                <InputNumber class="form-control" @bind-Value="Template.CombinedArmsCommanderRed"></InputNumber>
                                <label>JTACS</label>
                                <InputNumber class="form-control" @bind-Value="Template.CombinedArmsJTACRed"></InputNumber>
                            </div>  
                        </div>
                    </div>
                    break;
                case "flight-groups":
                    <div id="flight-groups" class="generator-block">
                        <h3>Player flight groups</h3>
                        <ul class="nav nav-tabs">
                            @foreach (var value in Template.PlayerFlightGroups)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(flightGroupTab == value ? "active" : "") @(value.Hostile ? "hostile" : "")" aria-current="page"
                            @onclick='() => SetFlightGroupTab(value)'>
                                       @value.Alias: @GetAircraftDisplayName(@value.Aircraft) x @value.Count
                                        @if (Template.PlayerFlightGroups.Count > 1)
                                        {
                                            <a class="delete-flight" @onclick="() =>  RemoveFlightGroup(value)">x</a>
                                        }
                                    </a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" @onclick="AddFlightGroup">+</a>
                            </li>
                        </ul>

                        @foreach (var flight in Template.PlayerFlightGroups)
                        {
                            if (flightGroupTab == flight)
                            {
                                <div class="flight-group  @(flight.Hostile ? "hostile" : "")">
                                    <div class="generator-group flex-justify-spaced flex-margin-fix">
                                        <div class="form-group flex-block">
                                            <label>Aircraft</label>
                                            <BlazoredTypeahead SearchMethod="SearchAircraft" @bind-Value="flight.Aircraft"
                                                EnableDropDown="true" ConvertMethod="Typeahead.ConvertDB" DisableClear="true"
                                                MaximumSuggestions="1000">
                                                <SelectedTemplate Context="aircraftId">
                                                    @GetAircraftDisplayName(@aircraftId)
                                                </SelectedTemplate>
                                                <ResultTemplate Context="aircraft">
                                                    @aircraft.Name
                                                </ResultTemplate>
                                            </BlazoredTypeahead>
                                        </div>
                                        <div class="form-group flex-block">
                                            <label>Count</label>
                                            <InputNumber class="form-control" @bind-Value="flight.Count"></InputNumber>
                                        </div>
                                        <div class="form-group flex-block">
                                            <label>Payload</label>
                                            <select class="form-control selectpicker" @bind=flight.Payload>
                                                @foreach (var item in GetAircraftPayloads(flight.Aircraft))
                                                {
                                                    <option value="@item">@BriefingRoom.FormatPayload(item)</option> // Blazor needs to know what values it binds to!
                                                }
                                            </select>
                                        </div>
                                        <button type="button" class="btn btn-secondary row-button" @onclick="() => CloneFlightGroup(flight)" title="Clone Flight Group"><span class="oi oi-layers"></span></button>
                                    </div>
                                    <div class="generator-group flex-justify-spaced flex-margin-fix">
                                        <InputEnum ClassString="flex-block" Label="Starting Setup" @bind-Value="flight.StartLocation" EnumType="PlayerStartLocation"/>
                                        <InputDataBase ClassString="flex-block" Label="Carrier" @bind-Value="flight.Carrier" DataBaseType="DatabaseEntryType.UnitCarrier" EmptOpt="N/A"/>
                                    </div>
                                    <div class="generator-group flex-justify-spaced flex-margin-fix">
                                        <div class="flex-block form-group">
                                            <label>Livery</label>
                                            <select class="form-control selectpicker" @bind=flight.Livery>
                                            @foreach (var item in GetLiveries(flight.Aircraft))
                                            {
                                                <option value="@item">@item</option> // Blazor needs to know what values it binds to!
                                            }
                                            </select>
                                        </div>
                                        <div class="flex-block form-group">
                                            <label>Country</label>
                                            <BlazoredTypeahead SearchMethod="SearchCountry" @bind-Value="flight.Country"
                                                EnableDropDown="true" DisableClear="true" MaximumSuggestions="1000">
                                                <SelectedTemplate Context="country">
                                                    @country
                                                </SelectedTemplate>
                                                <ResultTemplate Context="country">
                                                    @country
                                                </ResultTemplate>
                                            </BlazoredTypeahead>
                                        </div>
                                    </div>
                                    <div class="flex-block form-group">
                                        <label class="checkbox-wrapper">
                                            <input type="checkbox" checked=@flight.AIWingmen
                                                @onchange="eventArgs => { flight.AIWingmen = (bool)eventArgs.Value; StateHasChanged();}" />
                                                <span>AI Wingmen</span>
                                        </label>
                                        @if(Template.PlayerFlightGroups.First() != flight)
                                        {
                                            <label class="checkbox-wrapper">
                                                <input type="checkbox" checked=@flight.Hostile
                                                    @onchange="eventArgs => { flight.Hostile = (bool)eventArgs.Value; StateHasChanged();}" />
                                                    <span>Hostile</span>
                                            </label>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    break;
            }
        </EditForm>
        <div class=bottom-bar>
            <LoggerAll logs="logs"/>
        </div>
    </div>
    @if (campaign != null)
    {
        <div class="generator-preview">
            <LoggerWarn logs="logs"/>
            <ButtonTrio
              PrimaryFunc="DownloadCampaign"  PrimaryLabel="Campaign" PrimaryIcon="data-transfer-download"
              SecondaryFunc="DownloadBriefing"  SecondaryLabel="Briefings" SecondaryIcon="browser"
              TertiaryFunc="ClearCampaign"  TertiaryLabel="" TertiaryIcon="x"
            />
            <h3>@campaign.Name (@campaign.MissionCount)</h3>
            <ul class="nav nav-tabs">
                @foreach (var mission in campaign.Missions)
                {
                    <li class="nav-item">
                        <a class="nav-link @(missionTab == mission ? "active" : "")" aria-current="page"
                            @onclick='() => SetMissionTab(mission)'>@(campaign.Missions.IndexOf(mission) + 1)</a>
                    </li>
                }
            </ul>
            <div>
                <canvas height="360" width="640" id="canvas"></canvas>  
            </div>
            <div>@((MarkupString)missionTab.Briefing.GetBriefingAsHTML(false))</div>
        </div>
    }
</div>


@code {
    private BriefingRoom4DCS.BriefingRoom briefingRoom = new BriefingRoom4DCS.BriefingRoom(WriteToDebugLog);
    private CampaignTemplate Template;
    private DCSCampaign campaign;
    private string errorMessage;

    private string tempateMessage;

    public static List<Tuple<LogMessageErrorLevel, string>> logs = new List<Tuple<LogMessageErrorLevel, string>>();

    private static readonly string DEFAULT_TEMPLATE_FILEPATH = $"{BriefingRoom.GetBriefingRoomRootPath()}Default.cbrt";

    private TextInfo textInfo = new CultureInfo("en-US", false).TextInfo;

    private bool spinner = false;

    protected override void OnInitialized()
    {
        Template = new CampaignTemplate();
        flightGroupTab = Template.PlayerFlightGroups[0];
    }

    public static void WriteToDebugLog(string message, LogMessageErrorLevel errorLevel = LogMessageErrorLevel.Info)
    {
        logs.Add(new(errorLevel, message));
    }

    private void clearTemplateMessageDelay()
    {
        Task.Delay(1000).ContinueWith(t=> clearTemplateMessage());
    }

    private Task clearTemplateMessage()
    {
        tempateMessage = "";
        StateHasChanged();
        return Task.CompletedTask;
    }

    private async Task LoadTemplate(InputFileChangeEventArgs e)
    {
        try
        {
            using var reader = new StreamReader(e.File.OpenReadStream());
            var data = await reader.ReadToEndAsync();
            //Template.LoadFromString(data); 
            tempateMessage = "Template Loaded";
            clearTemplateMessageDelay();
            
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            errorMessage = ex.Message;
        }
    }

    private async Task SaveTemplate()
    {
        var fileBytes = Template.GetIniBytes();
        try { await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", $"Default.cbrt", "application/octet-stream", fileBytes); }
        catch (Exception) { }
        tempateMessage = "Template Saved"; 
        clearTemplateMessageDelay();
    }

    private Task ClearTemplate()
    {
        tempateMessage = "Template Reset"; 
        Template.Clear();
        clearTemplateMessageDelay();
        StateHasChanged();
        return Task.CompletedTask;
    }

    private async void GenerateCampaign()
    {
        try {
            spinner = true;
            StateHasChanged();
            campaign = null;
            errorMessage = "";
            campaign = await briefingRoom.GenerateCampaignAsync(Template);
            missionTab = campaign.Missions.First();
            StateHasChanged();
            await JSRuntime.InvokeVoidAsync("RenderMap", missionTab.GetMapData());
        } catch (Exception ex){
            Console.WriteLine(ex);
            errorMessage = ex.Message;
        } finally {
            spinner = false;
            StateHasChanged();
        }
    }

    private Task ClearCampaign()
    {
        campaign = null;
        StateHasChanged();
        return Task.CompletedTask;
    }

    async Task DownloadCampaign()
    {

        byte[] zipBytes = campaign.ExportToCompressedByteArray();
        if (zipBytes == null) return; // Something went wrong during the .miz export

        try { await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", $"{Template.ContextTheater} - {campaign.Name}.zip", "application/octet-stream", zipBytes); }
        catch (Exception) { }
    }

    async Task DownloadBriefing()
    {
            byte[] zipBytes = campaign.ExportBriefingsToCompressedByteArray();
            if (zipBytes == null) return; // Something went wrong during the .miz export

            try { await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", $"{Template.ContextTheater} - {campaign.Name} - Briefings.zip", "text/html", zipBytes); }
            catch (Exception) { }
    }

    private string tab = "context-&-enviroment";
    private List<string> tabs = new List<string>{
    "context-&-enviroment",
    "flight-groups",
    "missions",
    "situation",
    "combined-arms",
    "options",
    };
    private void SetTab(string var)
    {
        tab = var;
    }

    private MissionTemplateFlightGroup flightGroupTab;

    private void SetFlightGroupTab(MissionTemplateFlightGroup var)
    {
        flightGroupTab = var;
    }

    private void AddFlightGroup()
    {
        MissionTemplateFlightGroup newflight = new();
        newflight.Alias = BriefingRoom.GetAlias(Template.PlayerFlightGroups.Count);
        Template.PlayerFlightGroups.Add(newflight);
        flightGroupTab = newflight;
    }

    private void CloneFlightGroup(MissionTemplateFlightGroup flight) {
        MissionTemplateFlightGroup newflight = new(){
            Aircraft = flight.Aircraft,
            AIWingmen = flight.AIWingmen,
            Carrier = flight.Carrier,
            Count = flight.Count,
            Country = flight.Country,
            Payload = flight.Payload,
            StartLocation = flight.StartLocation,
            Livery = flight.Livery
        };
        newflight.Alias = BriefingRoom.GetAlias(Template.PlayerFlightGroups.Count);
        Template.PlayerFlightGroups.Add(newflight);
        flightGroupTab = newflight;
    }

    private void RemoveFlightGroup(MissionTemplateFlightGroup flight)
    {
        Template.PlayerFlightGroups.Remove(flight);
        if (Template.PlayerFlightGroups.Count == 1)
        {
            flightGroupTab = Template.PlayerFlightGroups[0];
        }
    }

    private DCSMission missionTab;
    private void SetMissionTab(DCSMission var)
    {
        missionTab = var;
        JSRuntime.InvokeVoidAsync("RenderMap", missionTab.GetMapData());
    }

    private List<string> GetLiveries(string aircraftId) =>
        BriefingRoom.GetAircraftLiveries(aircraftId);

    private List<string> GetAircraftPayloads(string aircraftId) =>
        BriefingRoom.GetAircraftPayloads(aircraftId);

    private async Task<IEnumerable<Country>> SearchCountry(string searchText) =>
    await Typeahead.SearchEnum<Country>(searchText);

    private async Task<IEnumerable<DatabaseEntryInfo>> SearchAircraft(string searchText) =>
    await Typeahead.SearchDB(DatabaseEntryType.UnitFlyableAircraft, searchText);
    private string GetAircraftDisplayName(string id) =>
    Typeahead.GetDBDisplayName(DatabaseEntryType.UnitFlyableAircraft, id);

    private async Task<IEnumerable<DatabaseEntryInfo>> SearchObjectiveType(string searchText) =>
    await Typeahead.SearchDB(DatabaseEntryType.ObjectiveTask, searchText);
    private string GetObjectiveTypeDisplayName(string id) =>
    Typeahead.GetDBDisplayName(DatabaseEntryType.ObjectiveTask, id);

    private string GetObjectiveTargetDisplayName(string id) =>
    Typeahead.GetDBDisplayName(DatabaseEntryType.ObjectiveTarget, id);

    private async Task<IEnumerable<DatabaseEntryInfo>> SearchCoalition(string searchText) =>
    await Typeahead.SearchDB(DatabaseEntryType.Coalition, searchText);

    private string GetCoalitionDisplayName(string id) =>
    Typeahead.GetDBDisplayName(DatabaseEntryType.Coalition, id);
}