@page "/FullBuilder"
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject BriefingRoom4DCS.BriefingRoom briefingRoom
@using BriefingRoom4DCS
@using BriefingRoom4DCS.Data
@using BriefingRoom4DCS.Template
@using BriefingRoom4DCS.Generator
@using BriefingRoom4DCS.Mission
@using System.Globalization
@using System.Linq
@using Blazored.Typeahead
@using BriefingRoom4DCS.GUI.Utils
@using System.Text
@using System.IO
@using Polly
@using System.IO.Compression
<LoadingSpinner ON="spinner"/>
<div class="title-bar">
    <h1>@briefingRoom.Translate("FullGenerator")</h1>
    <TemplateButtons LoadTemplate="LoadTemplate" SaveTemplate="SaveTemplate" ClearTemplate="ClearTemplate" AcceptString=".brt,.miz" />
</div>
<div class="generator-group">
    @if(showGenerator) {
    <div class="generator-form">
        <div>
            @if(!string.IsNullOrEmpty(tempateMessage)){
                <div class="alert alert-info notification" role="info">
                    @tempateMessage
                </div>
                }
            @if(!string.IsNullOrEmpty(errorMessage)){
            <div class="alert alert-danger" role="alert">
                @briefingRoom.Translate("Error"): @errorMessage
            </div>
            }
            <hr>
        </div>
        <EditForm Model="Template" OnSubmit="GenerateMissionAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />
                <button class="btn btn-primary form-control" type="submit">@briefingRoom.Translate("Generate")</button>
            <hr>
            <ul class="nav nav-tabs">
                @foreach (var value in tabs)
                {
                    <li class="nav-item">
                        <a class="nav-link @(tab == value.Key ? "active" : "")" aria-current="page"
                        @onclick='() => SetTab(value.Key)'>@briefingRoom.Translate(value.Value)</a>
                    </li>
                }
            </ul>
            @switch (tab)
            {
                case "context-&-enviroment":
                    <div id="context" class="generator-block">
                        <h3>@briefingRoom.Translate("Context")</h3>
                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                            <div class="form-group flex-block">
                                <label>@briefingRoom.Translate("BlueCoalition")</label>
                                <BlazoredTypeahead SearchMethod="builderUtils.SearchCoalition" @bind-Value="Template.ContextCoalitionBlue" 
                                EnableDropDown="true" ConvertMethod="Typeahead.ConvertDB" DisableClear="true" MaximumSuggestions="1000">
                                    <SelectedTemplate Context="coalitionId">
                                         @builderUtils.GetCoalitionDisplayName(@coalitionId)
                                    </SelectedTemplate>
                                    <ResultTemplate Context="coalition">
                                        @coalition.Name.Get(briefingRoom.LanguageKey)
                                    </ResultTemplate>
                                </BlazoredTypeahead>
                            </div>
                            <div class="form-group flex-block">
                                    <label>@briefingRoom.Translate("RedCoalition")</label>
                                <BlazoredTypeahead SearchMethod="builderUtils.SearchCoalition" @bind-Value="Template.ContextCoalitionRed" 
                                EnableDropDown="true" ConvertMethod="Typeahead.ConvertDB" DisableClear="true" MaximumSuggestions="1000">
                                    <SelectedTemplate Context="coalitionId">
                                         @builderUtils.GetCoalitionDisplayName(@coalitionId)
                                    </SelectedTemplate>
                                    <ResultTemplate Context="coalition">
                                        @coalition.Name.Get(briefingRoom.LanguageKey)
                                    </ResultTemplate>
                                </BlazoredTypeahead>
                            </div>
                        </div>
                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                            <InputDataBase ClassString="flex-block" Label=@briefingRoom.Translate("Theater") @bind-Value="Template.ContextTheater" DataBaseType="DatabaseEntryType.Theater"/>
                            <InputDataBase ClassString="flex-block" Label=@briefingRoom.Translate("Situation") @bind-Value="Template.ContextSituation" DataBaseType="DatabaseEntryType.Situation" Grouping="@Template.ContextTheater" EmptOpt=@briefingRoom.Translate("Random") CustomOpt="None (Spawn Anywhere),None"/>
                        </div>
                        <InputDataBase Label=@briefingRoom.Translate("HomeAirbase") @bind-Value="Template.FlightPlanTheaterStartingAirbase" DataBaseType="DatabaseEntryType.Airbase" Grouping="@Template.ContextTheater" EmptOpt=@briefingRoom.Translate("Random")/>
                        <InputEnum Label=@briefingRoom.Translate("TimePeriod") @bind-Value="Template.ContextDecade" EnumType="Decade"/>
                        <InputEnum Label=@briefingRoom.Translate("PlayerSide") @bind-Value="Template.ContextPlayerCoalition" EnumType="Coalition"/>
                    </div>
                    <hr />
                    <div id="environment" class="generator-block">
                        <h3>Environment</h3>
                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                            <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("Season") @bind-Value="Template.EnvironmentSeason" EnumType="Season"/>
                            <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("TimeOfDay") @bind-Value="Template.EnvironmentTimeOfDay" EnumType="TimeOfDay"/>
                        </div>
                       
                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                            <InputDataBase ClassString="flex-block" Label=@briefingRoom.Translate("WeatherPreset") @bind-Value="Template.EnvironmentWeatherPreset" DataBaseType="DatabaseEntryType.WeatherPreset" EmptOpt=@briefingRoom.Translate("Random")/>
                            <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("Wind") @bind-Value="Template.EnvironmentWind" EnumType="Wind"/>
                        </div>
                    </div>
                    break;
                case "objectives":
                    <div id="objectives" class="generator-block">
                        <h3>@briefingRoom.Translate("Objectives")</h3>
                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                            <div class="flex-block">
                                <h6>@briefingRoom.Translate("ObjectiveDistance")</h6>
                                <div class="min-max">
                                    <label>@briefingRoom.Translate("Min")</label>
                                    <InputNumber class="form-control" @bind-Value="Template.FlightPlanObjectiveDistanceMin">
                                    </InputNumber>
                                </div>
                                <div class="min-max">
                                    <label>@briefingRoom.Translate("Max")</label>
                                    <InputNumber class="form-control" @bind-Value="Template.FlightPlanObjectiveDistanceMax">
                                    </InputNumber>
                                </div>
                            </div>
                            <div class="flex-block">
                                 <h6>@briefingRoom.Translate("ObjectiveSeperation")</h6>
                                <div class="min-max">
                                    <label>@briefingRoom.Translate("Min")</label>
                                    <InputNumber class="form-control" @bind-Value="Template.FlightPlanObjectiveSeparationMin">
                                    </InputNumber>
                                </div>
                                <div class="min-max">
                                    <label>@briefingRoom.Translate("Max")</label>
                                    <InputNumber class="form-control" @bind-Value="Template.FlightPlanObjectiveSeparationMax">
                                    </InputNumber>
                                </div>
                            </div>
                        </div>
                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                            <div class="form-group flex-block">
                                <label>@briefingRoom.Translate("BorderLimit")</label>
                                <InputNumber class="form-control" @bind-Value="Template.BorderLimit">
                                </InputNumber>
                            </div>
                        </div>
                        <ul class="nav nav-tabs">
                            @foreach (var value in Template.Objectives)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(objectiveUtil.Tab == value ? "active" : "")" aria-current="page"
                            @onclick='() => objectiveUtil.SetObjectiveTab(value)'>
                                        @value.Alias
                                        @if (Template.Objectives.Count > 1)
                                        {
                                            <a class="delete-flight" @onclick="() =>  objectiveUtil.RemoveObjective(value, ref Template)">x</a>
                                        }
                                    </a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" @onclick="() => objectiveUtil.AddObjective(ref Template)">+</a>
                            </li>
                        </ul>

                        @foreach (var objective in Template.Objectives)
                        {
                            if (objectiveUtil.Tab == objective)
                            {
                                <div class="flight-group">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-secondary float-right" @onclick="() => objectiveUtil.CloneObjective(objective, ref Template)"  title="Clone Objective"><span class="oi oi-layers"></span></button>
                                        <button type="button" class="btn btn-secondary float-right" @onclick='() => RenderHintMap("OBJECTIVE_"+ objective.Alias)'  title='@briefingRoom.Translate("TakeHint")'><span class="oi oi-globe"></span></button>
                                        <h4>@briefingRoom.Translate("Features")</h4>
                                        <CheckBoxList
                                            Data='briefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.ObjectiveFeature).Where(x => !x.Category.ContainsValue("Hidden")).ToList()'
                                            TextField="@(item =>item.Name.Get(briefingRoom.LanguageKey))"
                                            DescriptionField="@(item =>item.Description.Get(briefingRoom.LanguageKey))"
                                            ValueField="@(item =>item.ID)"
                                            SelectedValues="objective.Features"
                                            TItem="DatabaseEntryInfo"
                                            TItemOutput="string">
                                        </CheckBoxList>
                                    </div>
                                    
                                    <h4>@briefingRoom.Translate("Tasks")</h4>
                                    <h5>@briefingRoom.Translate("Base")</h5>
                                    <div class="generator-group flex-justify-spaced flex-margin-fix">
                                        <h6 class="row-button">@(Template.GetTasksFlat().IndexOf(objective) + 1)</h6>
                                        <InputDataBase ClassString="flex-block" Label=@briefingRoom.Translate("Preset") @bind-Value="objective.Preset" DataBaseType="DatabaseEntryType.ObjectivePreset" HasDescription />
                                        @if (!objective.HasPreset)
                                        {
                                            <InputDataBase ClassString="flex-block" Label=@briefingRoom.Translate("Task") @bind-Value="objective.Task" DataBaseType="DatabaseEntryType.ObjectiveTask" HasDescription/>
                                            <InputDataBase ClassString="flex-block" Label=@briefingRoom.Translate("Target") @bind-Value="objective.Target" DataBaseType="DatabaseEntryType.ObjectiveTarget" Grouping="@objective.Task"/>
                                            <InputDataBase ClassString="flex-block" Label=@briefingRoom.Translate("TargetBehavior") @bind-Value="objective.TargetBehavior" DataBaseType="DatabaseEntryType.ObjectiveTargetBehavior" Grouping="@string.Join(',', new List<string>{objective.Task, objective.Target})" HasDescription/>
                                        }
                                        <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("TargetCount") @bind-Value="objective.TargetCount" EnumType="Amount"/>
                                        <button type="button" class="btn btn-secondary row-button" @onclick="() => objectiveUtil.CloneObjectiveTask(objective)"  title="Clone Task"><span class="oi oi-layers"></span></button>
                                    </div>
                                    <div class="form-group">
                                        <h6>@briefingRoom.Translate("Options")</h6>
                                        <CheckBoxList
                                            Data="Enum.GetValues(typeof(ObjectiveOption)).Cast<ObjectiveOption>()"
                                            TextField="@(item =>BriefingRoomGUITools.GetEnumName(briefingRoom.LanguageKey, item))"
                                            DescriptionField="@(item => BriefingRoomGUITools.GetEnumDescription(briefingRoom.LanguageKey, item))"
                                            ValueField="@(item =>item)"
                                            SelectedValues="objective.Options"
                                            TItem="ObjectiveOption"
                                            TItemOutput="ObjectiveOption">
                                        </CheckBoxList>
                                    </div>
                                     @if(Template.GetTasksFlat().Count > 1) {
                                        <br/>
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingObjective">
                                                <button class="accordion-button collapsed @(objective.ProgressionActivation ? "progression-active" : "")" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProgression" aria-expanded="false" aria-controls="collapseProgression">
                                                    @briefingRoom.Translate("Progression")@(objective.ProgressionActivation ? ": " + briefingRoom.Translate("Active") : "")
                                                </button>
                                                </h2>
                                                <div id="collapseProgression" class="accordion-collapse collapse" aria-labelledby="headingObjective" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <h6>@briefingRoom.Translate("PrerequisiteObjectives")</h6>
                                                        <div class="radio-wrapper">
                                                            <label class="checkbox-wrapper">
                                                                <input type="radio" name="all-any" checked=@(!objective.ProgressionDependentIsAny) disabled=@(!string.IsNullOrEmpty(objective.ProgressionOverrideCondition))
                                                                    @onchange="eventArgs => { objective.ProgressionDependentIsAny = false; StateHasChanged();}" />
                                                                    <span>@briefingRoom.Translate("All")</span>
                                                            </label>
                                                            <label class="checkbox-wrapper">
                                                                <input type="radio" name="all-any" checked=@objective.ProgressionDependentIsAny disabled=@(!string.IsNullOrEmpty(objective.ProgressionOverrideCondition))
                                                                    @onchange="eventArgs => { objective.ProgressionDependentIsAny = true; StateHasChanged();}" />
                                                                    <span>@briefingRoom.Translate("Any")</span>
                                                            </label>
                                                        </div>

                                                        <CheckBoxList
                                                            Data="Template.GetTasksFlat().Where(x => x != objective).ToList()"
                                                            TextField="@(item =>(Template.GetTasksFlat().IndexOf(item) + 1) + ": " + item.Alias + ": " + (item.HasPreset ? item.Preset   : item.Task + "-" + item.Target))"
                                                            ValueField="@(item =>Template.GetTasksFlat().IndexOf(item))"
                                                            SelectedValues="objective.ProgressionDependentTasks"
                                                            ParentStateHasChanged="@(() => StateHasChanged())"
                                                            IsDisabled=@(!string.IsNullOrEmpty(objective.ProgressionOverrideCondition))
                                                            TItem="MissionTemplateSubTask" TItemOutput="int">
                                                        </CheckBoxList>
                                                        <div class="form-group flex-block">
                                                            <label>@briefingRoom.Translate("ProgressionOverrideCondition")</label>
                                                            <input class="form-control" type="text" @bind="objective.ProgressionOverrideCondition" placeholder=@briefingRoom.Translate("ProgressionOverrideConditionPlaceHolder") />
                                                        </div>
                                                        <hr/>
                                                        <h6>@briefingRoom.Translate("Options")</h6>
                                                        <CheckBoxList
                                                            Data="Enum.GetValues(typeof(ObjectiveProgressionOption)).Cast<ObjectiveProgressionOption>()"
                                                            TextField="@(item =>BriefingRoomGUITools.GetEnumName(briefingRoom.LanguageKey, item))"
                                                            DescriptionField="@(item => BriefingRoomGUITools.GetEnumDescription(briefingRoom.LanguageKey, item))"
                                                            ValueField="@(item =>item)"
                                                            SelectedValues="objective.ProgressionOptions"
                                                            TItem="ObjectiveProgressionOption"
                                                            TItemOutput="ObjectiveProgressionOption">
                                                        </CheckBoxList>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    
                                    <hr/>
                                    <h5>@briefingRoom.Translate("Nearby")</h5>
                                    @if(objective.SubTasks.Count == 0)
                                    {
                                        <hr/>
                                    }
                                    @foreach (var (subTask, i) in objective.SubTasks.Select((value, i) => ( value, i )))
                                    {
                                    <hr/>
                                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                                        <h6 class="row-button">@(Template.GetTasksFlat().IndexOf(subTask) + 1)</h6>
                                            <InputDataBase ClassString="flex-block" Label=@briefingRoom.Translate("Preset") @bind-Value="subTask.Preset" DataBaseType="DatabaseEntryType.ObjectivePreset" HasDescription />
                                        @if (!subTask.HasPreset)
                                        {
                                            <InputDataBase ClassString="flex-block" Label=@briefingRoom.Translate("Task") @bind-Value="subTask.Task" DataBaseType="DatabaseEntryType.ObjectiveTask" HasDescription/>
                                            <InputDataBase ClassString="flex-block" Label=@briefingRoom.Translate("Target") @bind-Value="subTask.Target" DataBaseType="DatabaseEntryType.ObjectiveTarget" Grouping="@subTask.Task"/>
                                            <InputDataBase ClassString="flex-block" Label=@briefingRoom.Translate("TargetBehavior") @bind-Value="subTask.TargetBehavior" DataBaseType="DatabaseEntryType.ObjectiveTargetBehavior" Grouping="@string.Join(',', new List<string>{subTask.Task, subTask.Target})" HasDescription/>
                                        }
                                            <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("TargetCount") @bind-Value="subTask.TargetCount" EnumType="Amount"/>
                                            
                                            <button type="button" class="btn btn-secondary row-button" @onclick="() => objectiveUtil.CloneObjectiveSubTask(subTask, objective)"  title="Clone Task"><span class="oi oi-layers"></span></button>
                                            <button type="button" class="btn btn-secondary row-button" @onclick="() => objectiveUtil.RemoveSubTask(objective, subTask)">x</button>
                                        </div>
                                        <h6>@briefingRoom.Translate("Options")</h6>
                                        <CheckBoxList
                                            Data="Enum.GetValues(typeof(ObjectiveOption)).Cast<ObjectiveOption>()"
                                            TextField="@(item =>BriefingRoomGUITools.GetEnumName(briefingRoom.LanguageKey, item))"
                                            DescriptionField="@(item => BriefingRoomGUITools.GetEnumDescription(briefingRoom.LanguageKey, item))"
                                            ValueField="@(item =>item)"
                                            SelectedValues="subTask.Options"
                                            TItem="ObjectiveOption"
                                            TItemOutput="ObjectiveOption">
                                        </CheckBoxList>
                                        <br/>
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingObjective">
                                                <button class="accordion-button collapsed @(subTask.ProgressionActivation ? "progression-active" : "")" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProgression@(i)" aria-expanded="false" aria-controls="collapseProgression@(i)">
                                                    @briefingRoom.Translate("Progression")@(subTask.ProgressionActivation ? ": " + briefingRoom.Translate("Active") : "")
                                                </button>
                                                </h2>
                                                <div id="collapseProgression@(i)" class="accordion-collapse collapse" aria-labelledby="headingObjective" data-bs-parent="#accordionExample">
                                                <button type="button" class="btn btn-secondary float-right" @onclick="() => objectiveUtil.CloneProgression(objective, subTask)"  title="Copy Base Task"><span class="oi oi-expand-down"></span></button>
                                                    <div class="accordion-body">
                                                        <h6>@briefingRoom.Translate("PrerequisiteObjectives")</h6>
                                                        <div class="radio-wrapper">
                                                            <label class="checkbox-wrapper">
                                                                <input type="radio" name="all-any@(i)" checked=@(!subTask.ProgressionDependentIsAny) disabled=@(!string.IsNullOrEmpty(subTask.ProgressionOverrideCondition))
                                                                    @onchange="eventArgs => { subTask.ProgressionDependentIsAny = false; StateHasChanged();}" />
                                                                    <span>@briefingRoom.Translate("All")</span>
                                                            </label>
                                                            <label class="checkbox-wrapper">
                                                                <input type="radio" name="all-any@(i)" checked=@subTask.ProgressionDependentIsAny disabled=@(!string.IsNullOrEmpty(subTask.ProgressionOverrideCondition))
                                                                    @onchange="eventArgs => { subTask.ProgressionDependentIsAny = true; StateHasChanged();}" />
                                                                    <span>@briefingRoom.Translate("Any")</span>
                                                            </label>
                                                        </div>
                                                        <CheckBoxList
                                                            Data="Template.GetTasksFlat().Where(x => x != subTask).ToList()"
                                                            TextField="@(item =>(Template.GetTasksFlat().IndexOf(item) + 1) + ": " + item.Alias + ": " + (item.HasPreset ? item.Preset   : item.Task + "-" + item.Target))"
                                                            ValueField="@(item =>Template.GetTasksFlat().IndexOf(item))"
                                                            SelectedValues="subTask.ProgressionDependentTasks"
                                                            ParentStateHasChanged="@(() => StateHasChanged())"
                                                            IsDisabled=@(!string.IsNullOrEmpty(subTask.ProgressionOverrideCondition))
                                                            TItem="MissionTemplateSubTask" TItemOutput="int">
                                                        </CheckBoxList>
                                                        <div class="form-group flex-block">
                                                            <label>@briefingRoom.Translate("ProgressionOverrideCondition")</label>
                                                            <input class="form-control" type="text" @bind="subTask.ProgressionOverrideCondition" placeholder=@briefingRoom.Translate("ProgressionOverrideConditionPlaceHolder") />
                                                        </div>
                                                        <hr/>
                                                        <h6>@briefingRoom.Translate("Options")</h6>
                                                        <CheckBoxList
                                                            Data="Enum.GetValues(typeof(ObjectiveProgressionOption)).Cast<ObjectiveProgressionOption>()"
                                                            TextField="@(item =>BriefingRoomGUITools.GetEnumName(briefingRoom.LanguageKey, item))"
                                                            DescriptionField="@(item => BriefingRoomGUITools.GetEnumDescription(briefingRoom.LanguageKey, item))"
                                                            ValueField="@(item =>item)"
                                                            SelectedValues="subTask.ProgressionOptions"
                                                            TItem="ObjectiveProgressionOption"
                                                            TItemOutput="ObjectiveProgressionOption">
                                                        </CheckBoxList>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <button type="button" class="btn btn-secondary form-control" @onclick="() => objectiveUtil.AddSubTask(objective)">+</button>
                                </div>
                            }
                        }
                    </div>
                    break;
                case "options":
                    <div id="options" class="generator-block">
                        <h3>@briefingRoom.Translate("Options")</h3>
                        <InputEnum Label="Fog of war" @bind-Value="Template.OptionsFogOfWar" EnumType="FogOfWar"/>
                        <div class="form-group">
                            <h4>@briefingRoom.Translate("MissionFeatures")</h4>
                            <CheckBoxList
                                Data="briefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.MissionFeature).ToList()"
                                TextField="@(item =>item.Name.Get(briefingRoom.LanguageKey))"
                                DescriptionField="@(item => item.Description.Get(briefingRoom.LanguageKey))"
                                GroupingField="@(item => item.Category.Get(briefingRoom.LanguageKey))"
                                ValueField="@(item =>item.ID)"
                                SelectedValues="Template.MissionFeatures"
                                TItem="DatabaseEntryInfo"
                                TItemOutput="string">
                            </CheckBoxList>
                        </div>
                        <div class="form-group">
                            <h4>@briefingRoom.Translate("MissionOptions")</h4>
                            <CheckBoxList
                                Data="briefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.OptionsMission).ToList()"
                                TextField="@(item =>item.Name.Get(briefingRoom.LanguageKey))"
                                DescriptionField="@(item => item.Description.Get(briefingRoom.LanguageKey))"
                                ValueField="@(item =>item.ID)"
                                SelectedValues="Template.OptionsMission"
                                TItem="DatabaseEntryInfo"
                                TItemOutput="string">
                            </CheckBoxList>
                        </div>
                        <div class="form-group">
                            <h4>@briefingRoom.Translate("RealismOptions")</h4>
                            <CheckBoxList
                                Data="Enum.GetValues(typeof(RealismOption)).Cast<RealismOption>()"
                                TextField="@(item => BriefingRoomGUITools.GetEnumName(briefingRoom.LanguageKey, item))"
                                
                                ValueField="@(item =>item)"
                                SelectedValues="Template.OptionsRealism"
                                TItem="RealismOption"
                                TItemOutput="RealismOption">
                            </CheckBoxList>
                        </div>
                        <div class="form-group">
                            <h4>@briefingRoom.Translate("UnitMods")</h4>
                            <CheckBoxList
                                Data="briefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.DCSMod).ToList()"
                                TextField="@(item =>item.Name.Get(briefingRoom.LanguageKey))"
                                DescriptionField="@(item => item.Description.Get(briefingRoom.LanguageKey))"
                                ValueField="@(item =>item.ID)"
                                SelectedValues="Template.Mods"
                                TItem="DatabaseEntryInfo"
                                TItemOutput="string">
                            </CheckBoxList>
                        </div>
                    </div>
                    break;
                case "briefing":
                    <div id="options" class="generator-block">
                        <h3>@briefingRoom.Translate("Briefing")</h3>
                    <label>@briefingRoom.Translate("OverrideMissionName")</label>
                    <input class="form-control" type="text" @bind="Template.BriefingMissionName" placeholder=@briefingRoom.Translate("Generated") />
                    <label>@briefingRoom.Translate("OverrideMissionDescription")</label>
                    <textarea @bind="Template.BriefingMissionDescription" class="form-control long" spellcheck="true" placeholder=@briefingRoom.Translate("Generated")></textarea>
                    </div>
                    break;
                case "situation":
                    <div id="situation" class="generator-block">
                        <h3>@briefingRoom.Translate("Situation")</h3>
                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                            <div class="flex-block">
                            <h4>Enemies</h4>
                                <InputEnum Label=@briefingRoom.Translate("CombatProficiency") @bind-Value="Template.SituationEnemySkill" EnumType="AmountR"/>
                                <InputEnum Label=@briefingRoom.Translate("AntiAircraftStrength") @bind-Value="Template.SituationEnemyAirDefense" EnumType="AmountNR"/>
                                <InputEnum Label=@briefingRoom.Translate("CombatAirPatrols") @bind-Value="Template.SituationEnemyAirForce" EnumType="AmountNR"/>
                            </div>
                            <div class="flex-block">
                                <h4>Friendlies</h4>
                                <InputEnum Label=@briefingRoom.Translate("CombatProficiency") @bind-Value="Template.SituationFriendlySkill" EnumType="AmountR"/>
                                <InputEnum Label=@briefingRoom.Translate("AntiAircraftStrength") @bind-Value="Template.SituationFriendlyAirDefense" EnumType="AmountNR"/>
                                <InputEnum Label=@briefingRoom.Translate("CombatAirPatrols") @bind-Value="Template.SituationFriendlyAirForce" EnumType="AmountNR"/>
                            </div>
                        </div>
                    </div>
                    break;
                case "combined-arms":
                    <div id="combined-arms" class="generator-block">
                        <h3>@briefingRoom.Translate("CombinedArms")</h3>
                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                            <div class="flex-block">
                                <h4>@briefingRoom.Translate("Blue")</h4>
                                <label>@briefingRoom.Translate("Commanders")</label>
                                <InputNumber class="form-control" @bind-Value="Template.CombinedArmsCommanderBlue"></InputNumber>
                                <label>@briefingRoom.Translate("JTAC")</label>
                                <InputNumber class="form-control" @bind-Value="Template.CombinedArmsJTACBlue"></InputNumber>
                            </div>
                            <div class="flex-block">
                                <h4>@briefingRoom.Translate("Red")</h4>
                                <label>@briefingRoom.Translate("Commanders")</label>
                                <InputNumber class="form-control" @bind-Value="Template.CombinedArmsCommanderRed"></InputNumber>
                                <label>@briefingRoom.Translate("JTAC")</label>
                                <InputNumber class="form-control" @bind-Value="Template.CombinedArmsJTACRed"></InputNumber>
                            </div>  
                        </div>
                    </div>
                    break;
                case "flight-groups":
                    <div id="flight-groups" class="generator-block">
                        <h3>@briefingRoom.Translate("PlayerFlightGroups")</h3>
                        <ul class="nav nav-tabs">
                            @foreach (var value in Template.PlayerFlightGroups)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(flightGroupUtil.Tab == value ? "active" : "") @(value.Hostile ? "hostile" : "")" aria-current="page"
                            @onclick='() => flightGroupUtil.SetFlightGroupTab(value)'>
                                       @value.Alias:  @builderUtils.GetAircraftDisplayName(@value.Aircraft) x @value.Count
                                        @if (Template.PlayerFlightGroups.Count > 1)
                                        {
                                            <a class="delete-flight" @onclick="() =>  flightGroupUtil.RemoveFlightGroup(value, Template)">x</a>
                                        }
                                    </a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" @onclick="() => flightGroupUtil.AddFlightGroup(Template)">+</a>
                            </li>
                        </ul>

                        @foreach (var flight in Template.PlayerFlightGroups)
                        {
                            if (flightGroupUtil.Tab == flight)
                            {
                                <div class="flight-group  @(flight.Hostile ? "hostile" : "")">
                                    <div class="generator-group flex-justify-spaced flex-margin-fix">
                                        <div class="form-group flex-block">
                                            <label>@briefingRoom.Translate("Aircraft")</label>
                                            <BlazoredTypeahead SearchMethod="builderUtils.SearchAircraft" @bind-Value="flight.Aircraft"
                                                EnableDropDown="true" ConvertMethod="Typeahead.ConvertDB" DisableClear="true"
                                                MaximumSuggestions="1000">
                                                <SelectedTemplate Context="aircraftId">
                                                     @builderUtils.GetAircraftDisplayName(@aircraftId)
                                                </SelectedTemplate>
                                                <ResultTemplate Context="aircraft">
                                                    @aircraft.Name.Get(briefingRoom.LanguageKey)
                                                </ResultTemplate>
                                            </BlazoredTypeahead>
                                        </div>
                                        <div class="form-group flex-block">
                                            <label>@briefingRoom.Translate("Count")</label>
                                            <InputNumber class="form-control" @bind-Value="flight.Count"></InputNumber>
                                        </div>
                                        <div class="form-group flex-block">
                                            <label>@briefingRoom.Translate("Payload")</label>
                                            <select class="form-control selectpicker" @bind=flight.Payload>
                                                <option value="default">@briefingRoom.Translate("Default")</option>
                                                <option value="EMPTY">@briefingRoom.Translate("Empty")</option>
                                                @foreach (var item in BriefingRoom.GetAircraftPayloads(flight.Aircraft))
                                                {
                                                    <option value="@item">@item</option> // Blazor needs to know what values it binds to!
                                                }
                                            </select>
                                        </div>
                                        <button type="button" class="btn btn-secondary row-button" @onclick="() => flightGroupUtil.CloneFlightGroup(flight, Template)" title="Clone Flight Group"><span class="oi oi-layers"></span></button>
                                    </div>
                                    <div class="generator-group flex-justify-spaced flex-margin-fix">
                                        <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("StartingSetup") @bind-Value="flight.StartLocation" EnumType="PlayerStartLocation"/>
                                        <InputDataBase ClassString="flex-block" Label=@briefingRoom.Translate("StartOn") @bind-Value="flight.Carrier" DataBaseType="DatabaseEntryType.UnitCarrier" EmptOpt=@briefingRoom.Translate("Airbase")/>
                                        @if(!String.IsNullOrEmpty(flight.Carrier))
                                        {
                                            <button type="button" class="btn btn-secondary row-button" @onclick='() => RenderHintMap(flight.Carrier.StartsWith("FOB") ? flight.Carrier : $"CARRIER_{flight.Carrier}")' title="@briefingRoom.Translate("LocationHint")"><span class="oi oi-globe"></span></button>
                                        }
                                    </div>
                                    <div class="generator-group flex-justify-spaced flex-margin-fix">
                                        <div class="flex-block form-group">
                                            <label>@briefingRoom.Translate("Livery")</label>
                                            <select class="form-control selectpicker" @bind=flight.Livery>
                                                <option value="default">@briefingRoom.Translate("Default")</option>
                                            @foreach (var item in BriefingRoom.GetAircraftLiveries(flight.Aircraft))
                                            {
                                                <option value="@item">@item</option> // Blazor needs to know what values it binds to!
                                            }
                                            </select>
                                        </div>
                                        <div class="flex-block form-group">
                                            <label>@briefingRoom.Translate("Country")</label>
                                            <BlazoredTypeahead SearchMethod="BuilderUtils.SearchCountry" @bind-Value="flight.Country"
                                                EnableDropDown="true" DisableClear="true" MaximumSuggestions="1000">
                                                <SelectedTemplate Context="country">
                                                    @country
                                                </SelectedTemplate>
                                                <ResultTemplate Context="country">
                                                    @country
                                                </ResultTemplate>
                                            </BlazoredTypeahead>
                                        </div>
                                    </div>
                                    <div class="accordion" id="accordionExample">
                                         <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                @briefingRoom.Translate("Advanced")
                                            </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p class="custom-warning"><span class="oi oi-info"></span>&nbsp;@briefingRoom.Translate("AdvancedWarning")</p>
                                                    <div class="generator-group flex-justify-spaced flex-margin-fix">
                                                        <div class="form-group flex-block">
                                                            <label>@briefingRoom.Translate("OverrideFreqency")</label>
                                                            <input class="form-control" type="text" @bind="flight.OverrideRadioFrequency" placeholder=@briefingRoom.Translate("OverrideFreqencyPlaceHolder") />
                                                        </div>
                                                        <InputEnum ClassString="flex-block" Label="RadioBand" @bind-Value="flight.OverrideRadioBand" EnumType="RadioModulation"/>
                                                    </div>
                                                    <div class="generator-group flex-justify-spaced flex-margin-fix">
                                                     <div class="flex-block form-group">
                                                        <label>@briefingRoom.Translate("OverrideCallsignName")</label>
                                                        <select class="form-control selectpicker" @bind=flight.OverrideCallsignName>
                                                            <option value=""></option>
                                                            @foreach (var item in BriefingRoom.GetAircraftCallsigns(flight.Aircraft))
                                                            {
                                                                <option value="@item">@item.Split(":")[1]</option> // Blazor needs to know what values it binds to!
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group flex-block">
                                                        <label>@briefingRoom.Translate("OverrideCallsignNumber")</label>
                                                        <input class="form-control" type="number" min="1" max="9" @bind="flight.OverrideCallsignNumber" placeholder="x" />
                                                    </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-block form-group">
                                        <label class="checkbox-wrapper">
                                            <input type="checkbox" checked=@flight.AIWingmen
                                                @onchange="eventArgs => { flight.AIWingmen = (bool)eventArgs.Value; StateHasChanged();}" />
                                                <span>@briefingRoom.Translate("AIWingmen")</span>
                                        </label>
                                        @if(Template.PlayerFlightGroups.First() != flight)
                                        {
                                            <label class="checkbox-wrapper">
                                                <input type="checkbox" checked=@flight.Hostile
                                                    @onchange="eventArgs => { flight.Hostile = (bool)eventArgs.Value; StateHasChanged();}" />
                                                    <span>@briefingRoom.Translate("Hostile")</span>
                                            </label>
                                        }
                                    </div>
                                </div>
                            }
                        }
                        <hr/>
                        <div class="generator-block">
                            <h3>@briefingRoom.Translate("DynamicSpawn")</h3>
                            <div>&nbsp;<span class="oi oi-info"></span>&nbsp;@briefingRoom.Translate("DynamicSpawnWarn")&nbsp;</div>
                            <InputEnum ClassString="flex-block" @bind-Value="Template.AirbaseDynamicSpawn" EnumType="DsAirbase"/>
                            <div class="flex-block form-group">
                                 <label class="checkbox-wrapper">
                                    <input type="checkbox" checked=@Template.CarrierDynamicSpawn
                                        @onchange="eventArgs => { Template.CarrierDynamicSpawn = (bool)eventArgs.Value; StateHasChanged();}" />
                                        
                                        <span>@briefingRoom.Translate("CarrierDynamicSpawn")</span>
                                </label>
                                 <label class="checkbox-wrapper">
                                    <input type="checkbox" checked=@Template.DSAllowHotStart
                                        @onchange="eventArgs => { Template.DSAllowHotStart = (bool)eventArgs.Value; StateHasChanged();}" />
                                        <span>@briefingRoom.Translate("DSAllowHotStart")</span>
                                </label>
                            </div>
                        </div>
                        <hr/>
                        <div class="generator-block">
                            <h3>@briefingRoom.Translate("DynamicCargo")</h3>
                            <InputEnum ClassString="flex-block" @bind-Value="Template.AirbaseDynamicCargo" EnumType="DsAirbase"/>
                            <div class="flex-block form-group">
                                    <label class="checkbox-wrapper">
                                    <input type="checkbox" checked=@Template.CarrierDynamicCargo
                                        @onchange="eventArgs => { Template.CarrierDynamicCargo = (bool)eventArgs.Value; StateHasChanged();}" />
                                        
                                        <span>@briefingRoom.Translate("CarrierDynamicSpawn")</span>
                                </label>
                            </div>
                        </div>
                        <hr/>
                         <div id="flight-groups" class="generator-block">
                        <h3>@briefingRoom.Translate("StrikePackages")</h3>
                        <ul class="nav nav-tabs">
                            @foreach (var value in Template.AircraftPackages)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(packageTab == value ? "active" : "")" aria-current="page"
                            @onclick='() => SetPackageTab(value)'>
                                        @value.Alias
                                            <a class="delete-flight" @onclick="() =>  RemovePackage(value)">x</a>
                                    </a>
                                </li>
                            }
                            @if(Template.PlayerFlightGroups.Count(x => !x.Hostile) > 1)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" @onclick="AddPackage">+</a>
                                </li>
                            } else {
                            <li class="nav-item">
                                <p>@briefingRoom.Translate("StrikePackageWarning")</p>
                            </li>
                            }
                        </ul>

                        @foreach (var package in Template.AircraftPackages)
                        {
                            if (packageTab == package)
                            {
                                <div class="flight-group">
                                    <div class="form-group">
                                        <label>@briefingRoom.Translate("Objectives")</label>
                                        <CheckBoxList
                                            Data="Template.GetTasksFlat()"
                                            TextField="@(item =>item.Alias + ": " + (item.HasPreset ? item.Preset   : item.Task + "-" + item.Target))"
                                            ValueField="@(item =>Template.GetTasksFlat().IndexOf(item))"
                                            SelectedValues="package.ObjectiveIndexes"
                                            TItem="MissionTemplateSubTask" TItemOutput="int">
                                        </CheckBoxList>
                                    </div>
                                    <div class="form-group">
                                        <label>@briefingRoom.Translate("FlightGroups")</label>
                                        <CheckBoxList
                                            Data="GetAvailableFlightGroups(package)"
                                            TextField="@(item =>item.Alias + ": " + item.Aircraft + " x " + item.Count)"
                                            ValueField="@(item =>Template.PlayerFlightGroups.IndexOf(item))"
                                            SelectedValues="package.FlightGroupIndexes"
                                            TItem="MissionTemplateFlightGroup" TItemOutput="int">
                                        </CheckBoxList>
                                    </div>
                                    <InputDataBase 
                                        Label=@briefingRoom.Translate("StartingAirbase")
                                        @bind-Value="package.StartingAirbase"
                                        DataBaseType="DatabaseEntryType.Airbase"
                                        Grouping="@Template.ContextTheater"
                                        EmptOpt=@briefingRoom.Translate("Random")
                                        CustomOpt=@(briefingRoom.Translate("HomeBase")+",home")
                                        />
                                </div>
                            }
                        }
                    </div>
                    </div>
                    break;
                    case "unitBanlist":
                    <div id="ban-list" class="generator-block">
                        <h3>@briefingRoom.Translate("unitBanlist")</h3>
                        <button id="ban-all" class="btn btn-primary" type="button" @onclick='() => BanEverything()'>@briefingRoom.Translate("BanAll")</button>
                        <button id="un-ban-all" class="btn btn-primary" type="button" @onclick='() => UnBanEverything()'>@briefingRoom.Translate("UnBanAll")</button>
                        <div class="generator-group flex-justify-spaced flex-margin-fix">
                            <InputEnum ClassString="flex-block" @bind-Value="selectedFamily" EnumType="UnitFamily"/>
                            <button id="ban-all" class="btn btn-primary row-button" type="button" @onclick='() => BanFamily(selectedFamily)'>@briefingRoom.Translate("BanGroup")</button>
                            <button id="un-ban-all" class="btn btn-primary row-button" type="button" @onclick='() => UnBanFamily(selectedFamily)'>@briefingRoom.Translate("UnBanGroup")</button>
                        </div>
                         <CheckBoxList
                                Data="briefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.Unit, string.Join(',', Template.Mods)).ToList()"
                                TextField="@(item =>item.Name.Get(briefingRoom.LanguageKey))"
                                ValueField="@(item =>item.ID)"
                                GroupingField="@(item => item.Category.Get(briefingRoom.LanguageKey))"
                                SelectedValues="Template.OptionsUnitBanList"
                                TItem="DatabaseEntryInfo"
                                TItemOutput="string">
                            </CheckBoxList>
                    </div>
                    break;
            }
        </EditForm>
        <button id="hint-open-map-button" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" @onclick='() => RenderHintMap("")'><span class="oi oi-globe"></span> @briefingRoom.Translate("ViewLocationHint")</button>
        <div class="offcanvas offcanvas-bottom h-auto" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel">@briefingRoom.Translate("LocationHint")</h5>
                <button id="hint-close-map-button" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
                <div class="offcanvas-body">
                    <p>@briefingRoom.Translate("HintUsageP1")&nbsp;<span class="oi oi-globe"></span>&nbsp;@briefingRoom.Translate("HintUsageP2")</p>
                    <p class="custom-warning"><span class="oi oi-info"></span>&nbsp;@briefingRoom.Translate("HintNote")</p>
                    <button class="btn btn-warning float-right" aria-hidden="true" @onclick='async() => await JSRuntime.InvokeVoidAsync("RemoveAllHintMarkers")'>
                        <span class="oi oi-reload"></span>
                        <span class="template-box-button-text">@briefingRoom.Translate("Reset")</span>
                    </button>
                    <div id="hintMap"></div>
                </div>
            </div>
        <div class=bottom-bar>
            <LoggerAll logs="MainLayout.logs"/>
        </div>
    </div>
    }
    @if (mission != null)
    {
        <div class="generator-preview">
            <LoggerWarn logs="MainLayout.logs"/>
            <ButtonTrio
              PrimaryFunc="DownloadMission"  PrimaryLabel=@briefingRoom.Translate("Mission") PrimaryIcon="data-transfer-download"
              SecondaryFunc="DownloadBriefing"  SecondaryLabel=@briefingRoom.Translate("Briefing") SecondaryIcon="browser"
              TertiaryFunc="ClearMission"  TertiaryLabel="" TertiaryIcon="x"
            />
            @if(!showGenerator){
                <button class="btn btn-secondary float-right"  @onclick="() => showGenerator = true"><span class="oi oi-fullscreen-exit"></span></button>
                <button class="btn btn-primary form-control"  @onclick="() => GenerateMissionAsync()">@briefingRoom.Translate("Generate")</button>
            }
            else {
                <button class="btn btn-secondary float-right"  @onclick="() => showGenerator = false"><span class="oi oi-fullscreen-enter"></span></button>
            }

            <Briefing mission=@mission />
        </div>
    }
</div>


@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }
    private MissionTemplate Template;
    private DCSMission mission;
    private string errorMessage;

    private string tempateMessage;

    private bool showGenerator = true;

    private static readonly string DEFAULT_TEMPLATE_FILEPATH = $"{BriefingRoom.GetBriefingRoomRootPath()}Default.brt";

    private TextInfo textInfo = new CultureInfo("en-US", false).TextInfo;

    private bool spinner = false;

    private FlightGroupUtils flightGroupUtil = new FlightGroupUtils();
    private ObjectiveUtils objectiveUtil = new ObjectiveUtils(false);
    private BuilderUtils builderUtils {get; set;}

    protected override void OnInitialized()
    {
        builderUtils = new BuilderUtils(briefingRoom);
        Template = new MissionTemplate();
        Template.Objectives[0].Preset = "Custom";
        flightGroupUtil.Tab = Template.PlayerFlightGroups[0];
        objectiveUtil.Tab = Template.Objectives[0];  
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) {
            await localStorage.SetItemAsync("DCSFullEditorTemplate", Template.GetIniBytes());
        } else {
             try
            {
                var autoLoadPreviousState = await localStorage.GetItemAsync<bool>("DCSAutoLoadPreviousState");
                if(!autoLoadPreviousState) return;
                var templateBytes = await localStorage.GetItemAsync<byte[]>("DCSFullEditorTemplate");
                if(templateBytes == null)
                {
                    throw new Exception("Template is null");
                }
                Template.LoadFromString(Encoding.Default.GetString(templateBytes));
                tempateMessage = "Loaded Previous Template State";
                clearTemplateMessageDelay();
                StateHasChanged();
            }
            catch (System.Exception)
            {
                Template = new MissionTemplate();
                Template.Objectives[0].Preset = "Custom";
            }
            flightGroupUtil.Tab = Template.PlayerFlightGroups[0];
            objectiveUtil.Tab = Template.Objectives[0];
        }
    }

    private async void clearTemplateMessageDelay()
    {
        await Task.Delay(1000);
        tempateMessage = "";
        StateHasChanged();
    }

    private async Task LoadTemplate(InputFileChangeEventArgs e)
    {
        try
        {
            Template = await BuilderUtils.LoadTemplateFile(e, Template);
            await JSRuntime.InvokeVoidAsync("SetHintPositions", BuilderUtils.LoadHints(ref Template), Template.ContextTheater);
            tempateMessage = "Template Loaded";
            clearTemplateMessageDelay();
            flightGroupUtil.Tab = Template.PlayerFlightGroups[0];
            objectiveUtil.Tab = Template.Objectives[0];  
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            errorMessage = $"Failed to Load Template (Template may no longer be compatable): {ex.Message}";
        }
    }

    private async Task SaveTemplate()
    {
        try {
            await AddPositionHints();
            var fileBytes = Template.GetIniBytes();
            await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", $"Default.brt", "application/octet-stream", fileBytes);
            tempateMessage = "Template Saved"; 
            clearTemplateMessageDelay();
        } catch (Exception ex) {
             Console.WriteLine(ex);
        }
    }

    private async Task ClearTemplate()
    {
        tempateMessage = "Template Reset"; 
        Template.Clear();
        Template.Objectives[0].Preset = "Custom";
        await JSRuntime.InvokeVoidAsync("SetHintPositions", new Dictionary<string, double[]>(),  Template.ContextTheater);
        clearTemplateMessageDelay();
        objectiveUtil.Tab = Template.Objectives[0];  
        flightGroupUtil.Tab = Template.PlayerFlightGroups[0];
        StateHasChanged();
    }

    private async Task AddPositionHints()
    {
        var result = await JSRuntime.InvokeAsync<Dictionary<string, double[]>>("GetHintPoints", Template.ContextTheater);
        BuilderUtils.SetTemplateHints(result, ref Template);
    }

    private async void GenerateMissionAsync()
    {
        try {
            spinner = true;
            StateHasChanged();
            mission = null;
            errorMessage = "";
            await AddPositionHints();
            mission = briefingRoom.GenerateMission(Template);
            StateHasChanged();
            await Policy.Handle<Exception>().RetryAsync(3).ExecuteAsync(async () => await JSRuntime.InvokeVoidAsync("RenderMap", mission.GetMapData(), Template.ContextTheater, Template.ContextPlayerCoalition == Coalition.Red));
        } catch (Exception ex){
            Console.WriteLine(ex);
            errorMessage = ex.Message;
        } finally {
            spinner = false;
            StateHasChanged();
        }
    }

    private Task ClearMission()
    {
        mission = null;
        showGenerator = true;
        StateHasChanged();
        return Task.CompletedTask;
    }

    async Task DownloadMission()
    {
        try {
            spinner = true;
            StateHasChanged();
            byte[] zipBytes = await mission.SaveToMizBytes();
            if (zipBytes == null) return; // Something went wrong during the .miz export
            await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", $"{(Template.OptionsMission.Contains("DSMC")? "DSMC_": "")}{Template.ContextTheater} - {mission.Briefing.Name}.miz", "application/octet-stream", zipBytes); 
        } catch (Exception ex){
            Console.WriteLine(ex);
        } finally {
            spinner = false;
            StateHasChanged();
        }
    }

    async Task DownloadBriefing()
    {
        try { 
            byte[] zipBytes = Encoding.UTF8.GetBytes(mission.Briefing.GetBriefingAsHTML(mission));
            if (zipBytes == null) return; // Something went wrong during the .miz export
            await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", $"{Template.ContextTheater} - {mission.Briefing.Name}.html", "text/html", zipBytes); }
        catch (Exception ex) {
            Console.WriteLine(ex);
        }
    }

    private async Task RenderHintMap(string hintKey)
    {
        await JSRuntime.InvokeVoidAsync("RenderHintMap", Template.ContextTheater, hintKey);
    }

    private string tab = "context-&-enviroment";
    private Dictionary<string, string> tabs = new Dictionary<string, string>{
        { "context-&-enviroment", "ContextAndEnviroment" },
        { "flight-groups", "FlightGroups" },
        { "objectives", "Missions" },
        { "situation", "Situation" },
        { "combined-arms", "CombinedArms"},
        { "options", "Options" },
        { "unitBanlist", "UnitBanList"},
        { "briefing", "Briefing" },
    };
    private void SetTab(string var)
    {
        tab = var;
    }

    private MissionTemplatePackage packageTab;
    private void SetPackageTab(MissionTemplatePackage var)
    {
        packageTab = var;
    }

    private void AddPackage()
    {
        MissionTemplatePackage package = new();
        packageTab = package;
        package.Alias = BriefingRoom.GetAlias(Template.AircraftPackages.Count);
        Template.AircraftPackages.Add(package);
    }

    private void RemovePackage(MissionTemplatePackage package)
    {
        Template.AircraftPackages.Remove(package);
        if (Template.AircraftPackages.Count == 1)
        {
            packageTab = Template.AircraftPackages[0];
        }
    }

    private List<MissionTemplateFlightGroup> GetAvailableFlightGroups(MissionTemplatePackage package)
    {
        var restOfPackages = Template.AircraftPackages.Where(x => x != package);
        return Template.PlayerFlightGroups.Where((v,i) => !v.Hostile && (package.FlightGroupIndexes.Contains(i) || !restOfPackages.Any(y => y.FlightGroupIndexes.Contains(i)))).ToList();
    }

    private void BanEverything()
    {
        Template.OptionsUnitBanList = briefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.Unit, string.Join(',', Template.Mods)).Select(x => x.ID).ToList();
    }

    private void UnBanEverything()
    {
        Template.OptionsUnitBanList = new();
    }

    private UnitFamily selectedFamily;
    private void BanFamily(UnitFamily family)
    {
        Template.OptionsUnitBanList.AddRange(briefingRoom.GetUnitIdsByFamily(family));
    }
    private void UnBanFamily(UnitFamily family)
    {
        Template.OptionsUnitBanList = Template.OptionsUnitBanList.Except(briefingRoom.GetUnitIdsByFamily(family)).ToList();
    }
}