@page "/"

@using System.Reflection
@using BriefingRoom4DCS

<div class="landing-screen">
  <img src="_content/BriefingRoomCommonGUI/img/br-logo-white.png" alt="BriefingRoom Logo" />
  <div class="landing-menu">
    <a href="/QuickBuilder" class="btn btn-primary">@BriefingRoom.Translate("QuickGenerator")</a>
    <a href="/FullBuilder" class="btn btn-primary">@BriefingRoom.Translate("FullGenerator")</a>
    <a href="/CampaignBuilder" class="btn btn-primary">@BriefingRoom.Translate("CampaignGenerator")</a>
    <a href="/BriefingEditor" class="btn btn-primary">@BriefingRoom.Translate("BriefingEditor")</a>
    <a href="/Manual" class="btn btn-primary">@BriefingRoom.Translate("Manual")</a>
    <div class="form-group language-selector index">
        <label>@BriefingRoom.Translate("Language")</label>
        <select class="form-control" @bind=@BriefingRoom.LanguageDB.Language>
            @foreach (var key in BriefingRoom.AvailableLanguagesMap.Keys)
            {
                <option value="@key">@BriefingRoom.AvailableLanguagesMap[key]</option>
            }
        </select>
        <p class="custom-warning"><span class="oi oi-info"></span>&nbsp;@BriefingRoom.Translate("LanguageWarning")</p>
    </div>
  </div>
  <div class="misc-info">
    Generator by <strong>Ambroise Garel (@@akaAgar)</strong>, user interace by <strong>John Harvey
      (@@john681611)</strong><br />
    Version @BriefingRoom.VERSION (@BriefingRoom.BUILD_VERSION) for DCS World
  </div>
</div>

@code {
  [CascadingParameter]
    public MainLayout Layout { get; set; }
}
