@page "/"

@using System.Reflection
@using BriefingRoom4DCS

<div class="landing-screen">
  <img class="img" src="_content/BriefingRoomCommonGUI/img/br-logo-white.png" alt="BriefingRoom Logo" />
  <div class="landing-menu">
    <a href="/QuickBuilder" class="btn btn-primary">@BriefingRoom.Translate("QuickGenerator")</a>
    <a href="/FullBuilder" class="btn btn-primary">@BriefingRoom.Translate("FullGenerator")</a>
    <a href="/CampaignBuilder" class="btn btn-primary">@BriefingRoom.Translate("CampaignGenerator")</a>
    <a href="/BriefingEditor" class="btn btn-primary">@BriefingRoom.Translate("BriefingEditor")</a>
    <a href="/SituationEditor" class="btn btn-primary">@BriefingRoom.Translate("SituationEditor")</a>
    <a href="/Manual" class="btn btn-primary">@BriefingRoom.Translate("Manual")</a>
    <div class="form-group language-selector index">
      <label>@BriefingRoom.Translate("Language")</label>
      <select class="form-control" @bind=@BriefingRoom.LanguageDB.Language>
        @foreach (var key in BriefingRoom.AvailableLanguagesMap.Keys)
        {
          <option value="@key">@BriefingRoom.AvailableLanguagesMap[key]</option>
        }
      </select>
    </div>
    <div class="row flex-justify-spaced">
      <a href="@BriefingRoom.DISCORD_URL" target="_blank" class="col-1 img-link"><img alt="Discord"
          src="_content/BriefingRoomCommonGUI/img/discord-icon-svgrepo-com.svg"></a>
      <a href="@BriefingRoom.REPO_URL" target="_blank" class="col-1 img-link"><img alt="Github"
          src="_content/BriefingRoomCommonGUI/img/github-mark-white.svg"></a>
      <a href="https://www.patreon.com/bePatron?u=99514930" target="_blank" class="col-1 img-link"><img
          alt="Become a Patron!" src="_content/BriefingRoomCommonGUI/img/patreon-icon.png"></a>
      @if (BriefingRoom.RUNNING_IN_DOCKER)
      {
        <div class="col-1 btn-container"><a title="Support me on ko-fi.com" class="kofi-button"
            style="background-color:#29abe0;" href="https://ko-fi.com/V7V0IZI9N" target="_blank"> <span
              class="kofitext"><img src="https://storage.ko-fi.com/cdn/cup-border.png" alt="Ko-fi donations"
                class="kofiimg">@BriefingRoom.Translate("KoFiContributeBeg")</span></a></div>
      }
      else
      {
        <a href="https://ko-fi.com/V7V0IZI9N" target="_blank" class="col-1 img-link"><img alt="Support us with Ko-fi"
            src="_content/BriefingRoomCommonGUI/img/Kofi-icon.png"></a>
      }
    </div>
  </div>
  <div class="misc-info">
    Generator by <strong>Ambroise Garel (@@akaAgar)</strong>, user interface by <strong>John Harvey
      (@@john681611)</strong><br />
    Version @BriefingRoom.VERSION (@BriefingRoom.BUILD_VERSION) for DCS World
  </div>
</div>

@code {
  [CascadingParameter]
  public MainLayout Layout { get; set; }
}
