@using BriefingRoom4DCSWorld
@using BriefingRoom4DCSWorld.Template
<div id="environment">
        <h3>Environment</h3>
        <label>
            Season
            <select bind="@Template.EnvironmentSeason">
                @foreach (var value in Enum.GetValues(typeof(Season)))
                {
                    <option value="@value">@value</option>
                }
            </select>
        </label>
        <label>
            Time Of day
            <select bind="@Template.EnvironmentTimeOfDay">
                @foreach (var value in Enum.GetValues(typeof(TimeOfDay)))
                {
                    <option value="@value">@value</option>
                }
            </select>
        </label>
        <label>
            Weather
            <select bind="@Template.EnvironmentWeather">
                @foreach (var value in Enum.GetValues(typeof(Weather)))
                {
                    <option value="@value">@value</option>
                }
            </select>
        </label>
        <label>
            Cloud preset
            <select bind="@Template.EnvironmentCloudPreset">
                @foreach (var value in Enum.GetValues(typeof(CloudPreset)))
                {
                    <option value="@value">@value</option>
                }
            </select>
        </label>
        <label>
            Wind
            <select bind="@Template.EnvironmentWind">
                @foreach (var value in Enum.GetValues(typeof(Wind)))
                {
                    <option value="@value">@value</option>
                }
            </select>
        </label>
    </div>

@code {
    [CascadingParameter]
    public MissionTemplate Template { get; set; }
}