@page "/FullBuilder"
@inject IJSRuntime JSRuntime
@using BriefingRoom4DCS
@using BriefingRoom4DCS.Data
@using BriefingRoom4DCS.Template
@using BriefingRoom4DCS.Mission
@using BriefingRoom4DCS.Generator
@using BriefingRoom4DCS.Miz
@using System.Globalization
@using System.Linq
@using Blazored.Typeahead
@using BriefingRoomGUI.Utils
<h1>Mission Generator</h1>
<div class="generator-group">
    <div class="generator-form">
        <EditForm Model="Template" OnSubmit="GenerateMission">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <button type="submit form-control" disabled style="display: none" aria-hidden="true"></button>
            <button class="btn btn-primary form-control" type="submit">Generate</button>
            <ul class="nav nav-tabs">
                @foreach (var value in tabs)
                {
                    <li class="nav-item">
                        <a class="nav-link @(tab == value ? "active" : "")" aria-current="page"  @onclick='() => SetTab(value)'>@textInfo.ToTitleCase(value)</a>
                    </li>
                }
            </ul>
            @switch (tab)
            {
                case "context":
                    <div id="context"  class="generator-block">
                        <h3>Context</h3>
                        <div class="form-group">
                            <label>Blue Coalition</label>
                            <BlazoredTypeahead  SearchMethod="SearchCoalition"
                                                @bind-Value="Template.ContextCoalitionBlue"
                                                EnableDropDown="true"
                                                ConvertMethod="Typeahead.ConvertDB"
                                                DisableClear="true"
                                                MaximumSuggestions="100"
                                                >
                                <SelectedTemplate Context="coalitionId">
                                    @GetCoalitionDisplayName(@coalitionId)
                                </SelectedTemplate>
                                <ResultTemplate Context="coalition">
                                    @coalition.Name
                                </ResultTemplate>
                            </BlazoredTypeahead>
                        </div>
                        <div class="form-group">
                            <label>Red Coalition</label>
                            <BlazoredTypeahead  SearchMethod="SearchCoalition"
                                            @bind-Value="Template.ContextCoalitionRed"
                                            EnableDropDown="true"
                                            ConvertMethod="Typeahead.ConvertDB"
                                            DisableClear="true"
                                            MaximumSuggestions="100"
                                            >
                                <SelectedTemplate Context="coalitionId">
                                    @GetCoalitionDisplayName(@coalitionId)
                                </SelectedTemplate>
                                <ResultTemplate Context="coalition">
                                    @coalition.Name
                                </ResultTemplate>
                            </BlazoredTypeahead>
                        </div>
                        <div class="form-group">
                            <label>Time period</label>
                            <InputSelect class="form-control" @bind-Value="Template.ContextDecade">
                                @foreach (var value in Enum.GetValues(typeof(Decade)))
                                {
                                    <option value="@value">@value</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group">
                            <label>Player Coalition</label>
                            <InputSelect class="form-control" @bind-Value="Template.ContextPlayerCoalition">
                                @foreach (var value in Enum.GetValues(typeof(Coalition)))
                                {
                                    <option value="@value">@value</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group">
                            <label>Theater @Template.ContextTheater</label>
                            <InputSelect class="form-control" @bind-Value="Template.ContextTheater">
                                @foreach (var value in BriefingRoom4DCS.BriefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.Theater))
                                {
                                    <option value="@value.ID">@value.Name</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group">
                            <label>Countries coalition</label>
                            <InputSelect class="form-control" @bind-Value="Template.ContextTheaterCountriesCoalitions">
                                @foreach (var value in Enum.GetValues(typeof(CountryCoalition)))
                                {
                                    <option value="@value">@value</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    break;
                case "environment": 
                    <div id="environment" class="generator-block">
                        <h3>Environment</h3>
                        <div class="form-group">
                            <label>Season</label>
                            <InputSelect class="form-control" @bind-Value="Template.EnvironmentSeason">
                                @foreach (var value in Enum.GetValues(typeof(Season)))
                                {
                                    <option value="@value">@value</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group">
                            <label>Time Of day</label>
                            <InputSelect class="form-control" @bind-Value="Template.EnvironmentTimeOfDay">
                                @foreach (var value in Enum.GetValues(typeof(TimeOfDay)))
                                {
                                    <option value="@value">@value</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group">
                            <label>Weather Preset</label>
                            <InputSelect class="form-control" @bind-Value="Template.EnvironmentWeatherPreset">
                                @foreach (var value in BriefingRoom4DCS.BriefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.WeatherPreset))
                                {
                                    <option value="@value.ID">@value.Name</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group">
                            <label>Wind</label>
                            <InputSelect class="form-control" @bind-Value="Template.EnvironmentWind">
                                @foreach (var value in Enum.GetValues(typeof(Wind)))
                                {
                                    <option value="@value">@value</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    break;
                case "flight-plan":
                    <div id="flight-plan" class="generator-block">
                        <h3>Flight Plan</h3>
                        <div class="form-group">
                            <label>Objective distance</label>
                            <InputNumber class="form-control" @bind-Value="Template.FlightPlanObjectiveDistance" ></InputNumber>
                        </div>
                        <div class="form-group">
                            <label>Objectives locations</label>
                            <InputSelect class="form-control" @bind-Value="Template.FlightPlanObjectivesLocation">
                                @foreach (var value in Enum.GetValues(typeof(ObjectiveCountryLocation)))
                                {
                                    <option value="@value">@value</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group">
                            <label>Starting airbase</label>
                            <InputSelect class="form-control" @bind-Value="Template.FlightPlanTheaterStartingAirbase">
                                <option value="">Random</option>
                                @foreach (var value in BriefingRoom4DCS.BriefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.Airbase))
                                {
                                    <option value="@value.ID">@value.Name</option>
                                }
                            </InputSelect>
                        </div>  
                    </div>
                    break;
                case "objective": 
                    <div id="objective" class="generator-block">
                        <h3>Objective</h3>
                        <ul class="nav nav-tabs">
                            @foreach (var value in Template.Objectives)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(ObjectiveTab == value ? "active" : "")" aria-current="page"  @onclick='() => SetObjectiveTab(value)'>
                                        @value.Task = @value.Target
                                        @if(Template.Objectives.Count > 1)
                                        {
                                            <a class="delete-flight" @onclick="() =>  RemoveObjective(value)">x</a>
                                        }
                                    </a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" @onclick="AddObjective">+</a>
                            </li>
                        </ul>
                        
                        @foreach (var objective in Template.Objectives)
                        {
                            if(ObjectiveTab == objective){
                                <div class="flight-group">
                                    <div class="form-group">
                                        <label>Task</label>
                                        <InputSelect class="form-control" @bind-Value="objective.Task">
                                            @foreach (var value in BriefingRoom4DCS.BriefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.ObjectiveTask))
                                            {
                                                <option value="@value.ID">@value.Name</option>
                                            }
                                        </InputSelect>
                                    </div>
                                    <div class="form-group">
                                        <label>Target</label>
                                        <InputSelect class="form-control" @bind-Value="objective.Target">
                                            @foreach (var value in BriefingRoom4DCS.BriefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.ObjectiveTarget))
                                            {
                                                <option value="@value.ID">@value.Name</option>
                                            }
                                        </InputSelect>
                                    </div>
                                    <div class="form-group">
                                        <label>Target behavior</label>
                                        <InputSelect class="form-control" @bind-Value="objective.TargetBehavior">
                                            @foreach (var value in BriefingRoom4DCS.BriefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.ObjectiveTargetBehavior))
                                            {
                                                <option value="@value.ID">@value.Name</option>
                                            }
                                        </InputSelect>
                                    </div>
                                    <div class="form-group">
                                        <label>Target count</label>
                                        <InputSelect class="form-control" @bind-Value="objective.TargetCount">
                                            @foreach (var value in Enum.GetValues(typeof(Amount)))
                                            {
                                                <option value="@value">@value</option>
                                            }
                                        </InputSelect>
                                    </div>
                                    <div class="form-group">
                                        <h4>Options</h4>
                                        <CheckBoxList Data="Enum.GetValues(typeof(ObjectiveOption)).Cast<ObjectiveOption>()"  
                                            TextField="@((item)=>item.ToString())"  
                                            ValueField="@((item)=>item)"
                                            SelectedValues="objective.Options" TItem="ObjectiveOption" TItemOutput="ObjectiveOption" >  
                                        </CheckBoxList> 
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    break;
                case "options": 
                    <div id="options" class="generator-block">
                        <h3>Options</h3>
                        <div class="form-group">
                            <h4>Mission Features</h4>
                            <CheckBoxList Data="BriefingRoom4DCS.BriefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.MissionFeature).ToList()"  
                                TextField="@((item)=>item.Name)"  
                                ValueField="@((item)=>item.ID)"  
                                SelectedValues="Template.MissionFeatures" TItem="DatabaseEntryInfo" TItemOutput="string" > 
                            </CheckBoxList> 
                        </div>
                        <div class="form-group">
                            <label>Fog of War</label>
                            <InputSelect class="form-control" @bind-Value="Template.OptionsFogOfWar">
                                @foreach (var value in Enum.GetValues(typeof(FogOfWar)))
                                {
                                    <option value="@value">@value</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group">
                            <h4>Realism</h4>
                            <CheckBoxList Data="Enum.GetValues(typeof(RealismOption)).Cast<RealismOption>()"  
                                TextField="@((item)=>item.ToString())"  
                                ValueField="@((item)=>item)"
                                SelectedValues="Template.OptionsRealism" TItem="RealismOption" TItemOutput="RealismOption" >  
                            </CheckBoxList> 
                        </div>
                        <div class="form-group">
                            <h4>Unit mods</h4>
                            <CheckBoxList Data="BriefingRoom4DCS.BriefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.DCSMod).ToList()"  
                                TextField="@((item)=>item.Name)"  
                                ValueField="@((item)=>item.ID)"  
                                SelectedValues="Template.Mods" TItem="DatabaseEntryInfo" TItemOutput="string" > 
                            </CheckBoxList> 
                        </div>
                        <div class="form-group">
                            <h4>Mission options</h4>
                            <CheckBoxList Data="Enum.GetValues(typeof(MissionOption)).Cast<MissionOption>()"  
                                TextField="@((item)=>item.ToString())"  
                                ValueField="@((item)=>item)"
                                SelectedValues="Template.OptionsMission" TItem="MissionOption" TItemOutput="MissionOption" >
                            </CheckBoxList>  
                        </div>
                    </div>
                    break;
                case "situation": 
                    <div id="situation" class="generator-block">
                        <h3>Situation</h3>
                        <ul class="nav nav-tabs">
                            @foreach (var value in situationTabs)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(situationTab == value ? "active" : "")" aria-current="page"  @onclick='() => SetSituationTab(value)'>@textInfo.ToTitleCase(value)</a>
                                </li>
                            }
                        </ul>
                        @switch (situationTab)
                        {
                            case "enemies":
                                <div id="enemies">
                                    <h4>Enemies</h4>
                                    <div class="form-group">
                                        <label>Air Defense</label>
                                        <InputSelect class="form-control" @bind-Value="Template.SituationEnemyAirDefense">
                                            @foreach (var value in Enum.GetValues(typeof(AmountNR)))
                                            {
                                                <option value="@value">@value</option>
                                            }
                                        </InputSelect>
                                    </div>
                                    <div class="form-group">
                                        <label>Air Force</label>
                                        <InputSelect class="form-control" @bind-Value="Template.SituationEnemyAirForce">
                                            @foreach (var value in Enum.GetValues(typeof(AmountNR)))
                                            {
                                                <option value="@value">@value</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>
                                break;
                            case "friendlies":
                                <div id="friendlies">
                                    <h4>Friendlies</h4>
                                    <div class="form-group">
                                        <label>Air Defense</label>
                                        <InputSelect class="form-control" @bind-Value="Template.SituationFriendlyAirDefense">
                                            @foreach (var value in Enum.GetValues(typeof(AmountNR)))
                                            {
                                                <option value="@value">@value</option>
                                            }
                                        </InputSelect>
                                    </div>
                                    <div class="form-group">
                                        <label>Air Force</label>
                                        <InputSelect class="form-control" @bind-Value="Template.SituationFriendlyAirForce">
                                            @foreach (var value in Enum.GetValues(typeof(AmountNR)))
                                            {
                                                <option value="@value">@value</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>
                                break;
                        }
                    </div>
                    break;
                case "flight-groups":
                    <div id="flight-groups" class="generator-block">
                        <h3>Player Flight Groups</h3>
                        <ul class="nav nav-tabs">
                            @foreach (var value in Template.PlayerFlightGroups)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(flightGroupTab == value ? "active" : "")" aria-current="page"  @onclick='() => SetFlightGroupTab(value)'>
                                        @GetAircraftDisplayName(@value.Aircraft)
                                        @if(Template.PlayerFlightGroups.Count > 1)
                                        {
                                            <a class="delete-flight" @onclick="() =>  RemoveFlightGroup(value)">x</a>
                                        }
                                    </a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" @onclick="AddFlightGroup">+</a>
                            </li>
                        </ul>
                        
                        @foreach (var flight in Template.PlayerFlightGroups)
                        {
                            if(flightGroupTab == flight){
                                <div class="flight-group">
                                    <div class="form-group">
                                        <label>Aircraft</label>
                                        <BlazoredTypeahead  SearchMethod="SearchAircraft"
                                                            @bind-Value="flight.Aircraft"
                                                            EnableDropDown="true"
                                                            ConvertMethod="Typeahead.ConvertDB"
                                                            DisableClear="true"
                                                            MaximumSuggestions="100"
                                                            >
                                            <SelectedTemplate Context="aircraftId">
                                                @GetAircraftDisplayName(@aircraftId)
                                            </SelectedTemplate>
                                            <ResultTemplate Context="aircraft">
                                                @aircraft.Name
                                            </ResultTemplate>
                                        </BlazoredTypeahead>
                                    </div>
                                    <div class="form-group">
                                        <label>Carrier</label>
                                        TODO: Get List Of Carriers
                                        @* <InputSelect class="form-control" @bind-Value="flight.Carrier">
                                            <option value="">N/A</option>
                                            @foreach (var value in BriefingRoom4DCS.BriefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.Carrier))
                                            {
                                                <option value="@value.ID">@value.Name</option>
                                            }
                                        </InputSelect> *@
                                    </div>
                                    <div class="form-group">
                                        <label>Country</label>
                                        <BlazoredTypeahead  SearchMethod="SearchCountry"
                                                            @bind-Value="flight.Country"
                                                            EnableDropDown="true"
                                                            DisableClear="true"
                                                            MaximumSuggestions="100"
                                                            >
                                            <SelectedTemplate Context="country">
                                                @country
                                            </SelectedTemplate>
                                            <ResultTemplate Context="country">
                                                @country
                                            </ResultTemplate>
                                        </BlazoredTypeahead>
                                    </div>
                                    <div class="form-group">
                                        <label>Start Location</label>
                                        <InputSelect class="form-control" @bind-Value="flight.StartLocation">
                                            @foreach (var value in Enum.GetValues(typeof(PlayerStartLocation)))
                                            {
                                                <option value="@value">@value</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    break;

            }
        </EditForm>
    </div>
    @if(!String.IsNullOrEmpty(mission.BriefingHTML)){
        <div class="generator-preview">
                <button class="btn btn-primary form-control" @onclick="DownloadMission">DownloadMission</button>
            <div>@((MarkupString)mission.BriefingHTML)</div>
        </div>
    }
</div>


@code {

    private BriefingRoom4DCS.BriefingRoom briefingRoom = new BriefingRoom4DCS.BriefingRoom();
    private MissionTemplate Template;
    private DCSMission mission = new();

    private TextInfo textInfo = new CultureInfo("en-US", false).TextInfo;
    protected override async Task OnInitializedAsync()
    {
        Template = new MissionTemplate();
        flightGroupTab = Template.PlayerFlightGroups[0];
    }

    private void GenerateMission()
    {
        mission = briefingRoom.GenerateMission(Template);
    }

    async Task DownloadMission()
    {
        using (MizFile miz = mission.ExportToMiz())
        {

            if (miz == null) // Something went wrong during the .miz export
                return;
            await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", $"{mission.MissionName}.miz", "application/octet-stream",
            miz.ZipFiles());
        }
    }

    private string tab = "context";
    private List<string> tabs = new List<string>{
        "context",
        "environment",
        "objective",
        "flight-groups",
        "flight-plan",
        "situation",
        "options",
        };
    private void SetTab(string var){
        tab = var;
    }


    private string situationTab = "enemies";
    private List<string> situationTabs = new List<string>{"enemies","friendlies"};
    private void SetSituationTab(string var){
        situationTab = var;
    }

    private MissionTemplateFlightGroup flightGroupTab;
    private void SetFlightGroupTab(MissionTemplateFlightGroup var){
        flightGroupTab = var;
    }

    private void AddFlightGroup()
    {
        MissionTemplateFlightGroup flight = new();
        flightGroupTab = flight;
        Template.PlayerFlightGroups.Add(flight);
        Template.MissionType = MissionType.Multiplayer;
    }

     private void RemoveFlightGroup(MissionTemplateFlightGroup flight)
    {
        Template.PlayerFlightGroups.Remove(flight);
        if(Template.PlayerFlightGroups.Count == 1){
            Template.MissionType = MissionType.SinglePlayer;
            flightGroupTab = Template.PlayerFlightGroups[0];
        }
    }

    private MissionTemplateObjective ObjectiveTab;
    private void SetObjectiveTab(MissionTemplateObjective var){
        ObjectiveTab = var;
    }

    private void AddObjective()
    {
        MissionTemplateObjective obj = new();
        ObjectiveTab = obj;
        Template.Objectives.Add(obj);
    }

     private void RemoveObjective(MissionTemplateObjective obj)
    {
        Template.Objectives.Remove(obj);
    }

    private async Task<IEnumerable<Country>> SearchCountry(string searchText) =>
        await Typeahead.SearchEnum<Country>(searchText);

    private async Task<IEnumerable<DatabaseEntryInfo>> SearchAircraft(string searchText) => 
            await Typeahead.SearchDB(DatabaseEntryType.UnitFlyableAircraft, searchText);
    private string GetAircraftDisplayName(string id) => 
        Typeahead.GetDBDisplayName(DatabaseEntryType.UnitFlyableAircraft, id);

    private async Task<IEnumerable<DatabaseEntryInfo>> SearchObjectiveType(string searchText) =>
        await Typeahead.SearchDB(DatabaseEntryType.ObjectiveTask, searchText);
    private string GetObjectiveTypeDisplayName(string id) => 
        Typeahead.GetDBDisplayName(DatabaseEntryType.ObjectiveTask, id);
        
    private async Task<IEnumerable<DatabaseEntryInfo>> SearchCoalition(string searchText) => 
        await Typeahead.SearchDB(DatabaseEntryType.Coalition, searchText); 

    private string GetCoalitionDisplayName(string id) =>
        Typeahead.GetDBDisplayName(DatabaseEntryType.Coalition, id);
}